<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{title}}</title>
    <link href="assets/css/reset.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="/assets/ext/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
         <link href="https://fonts.googleapis.com/css?family=Maiden+Orange|Montserrat|Passion+One" rel="stylesheet">
        <link href="assets/css/style.css" rel="stylesheet">
        <script src="https://use.fontawesome.com/8491a9bbb1.js"></script>

	

</head>
<body>

   

	 
     <div class="container-fluid">
        
        <div class="row back-teal">
            <header>
                <div class="back-teal">
                    <div class="col-sm-5 col-sm-offset-1">
                        <div id="logo"> WATCH MY FARM </div>
                    </div>
                    
                </div><!-- ./col-sm-5 -->
            </header>
        </div><!-- ./row back-teal -->

        <main>

	 	{{!-- Post flash messages here --}}
        {{#if success_msg}}
            <div class = "alert alert-success">{{success_msg}}</div>
        {{/if}}
        {{#if error_msg}}
            <div class = "alert alert-danger">{{error_msg}}</div>
        {{/if}}
        {{#if error}}
            <div class = "alert alert-danger">{{error}}</div>
        {{/if}}
        
    

        {{{body}}}

        </main>

	 </div>

	  <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/assets/ext/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bundle.js"></script>


</body>
</html>